html {
    box-sizing: border-box;
}

*,
::after ::before {
    box-sizing: inherit;
}

.body {
    max-width: auto;
    background-color: rgba(97, 179, 185, 0.514);

}

.header__title {
    text-align: center;
}


.main__heading {
    text-align: center;
}

.article {
    background-color: rgba(227, 248, 241, 0.945);
    text-align: center;
    padding: 10px;
    border: solid 1px;

}

.article__important {
    color: rgb(255, 0, 0);
}

.main__photo {
    display: block;
    margin: auto;
}



.table {
    font-family: "Lato", sans-serif;
    border-collapse: collapse;
    width: 100%;
}

.table__Cell {
    border: solid 1px;
    padding: 10px;
    text-align: center;
    vertical-align: middle;
}

.table__Header {
    background-color: rgba(220, 247, 238, 0.959)
}

.table__Row:hover {
    background-color: bisque;
}


.youtube {
    color: rgb(238, 42, 42);
    margin-left: 40%;
}

.navigation__link {
    color: rgb(238, 42, 42);
    margin-left: 47%;
}

.button {
    display: block;
    margin: auto
}


.dark {
    color: rgb(5, 151, 248);
    background: rgb(19, 18, 18);
}

.footer {
    background-color: (227, 248, 241, 0.945);
    padding: 0px;
    text-align: center;
    color: rgb(0, 0, 0);
    border: 1px solid
}

.footer__link {
    text-align: center;
}